[submodule "OPS_SIM/OPS_SIM\\State-space"]
	path = OPS_SIM/OPS_SIM\\State-space
	url = https://github.com/ADIOS-DSE/OPS_Simulation.git
[submodule "OPS_SIM\\State_space"]
	path = OPS_SIM\\State_space
	url = https://github.com/ADIOS-DSE/OPS_Simulation.git
